﻿
@{
    ViewBag.Title = "New Rental";
}

<h2>New Rental</h2>

<form id="rentalForm">
    <div class="form-group">
        <label>Customer</label>
        <div class="tt-container">
            <input id="customer" name="customer" data-rule-validCustomer="true" required  type="text" value="" class="form-control" />
        </div>
    </div>
    <div class="form-group">
        <label>Movies</label>
        <div class="tt-container">
            <input id="movie" name="movie" data-rule-validMovies="true" type="text" value="" class="form-control" />
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 col-sm-4">
            <ul id="movies" class="list-group"> </ul>
        </div>
    </div>

    <button class="btn btn-primary" type="submit">Rent</button>


</form>



@section scripts
{
    @Scripts.Render("~/bundles/jqueryval")
    <script type="text/javascript">
        
        var vm = {
            movieIds:[]
        };
        console.log(vm.movieIds.length);
      var customers = new Bloodhound({
      datumTokenizer: Bloodhound.tokenizers.obj.whitespace('name'),
      queryTokenizer: Bloodhound.tokenizers.whitespace,
      remote: {
        url: '/api/customers?query=%QUERY',
        wildcard: '%QUERY'
      }
      });
        var movies = new Bloodhound({
            datumTokenizer: Bloodhound.tokenizers.obj.whitespace('name'),
            queryTokenizer: Bloodhound.tokenizers.whitespace,
            remote: {
                url: '/api/movies?query=%QUERY',
                wildcard: '%QUERY'
            }

        });


        $('#customer').typeahead(
        {
                minLength: 3,
                highlight: true
         },

        {
          name: 'customers',
          display: 'name',
          source: customers
        }).on("typeahead:select", function (e,customer)
        {
            vm.customerId = customer.id;
        });
       $('#movie').typeahead(
        {
                minLength: 3,
                highlight: true
         },

        {
          name: 'movies',
          display: 'name',
          source: movies
        }).on("typeahead:select", function (e,movie)
        {
            $("#movies").append("<li class='list-group-item'>" + movie.name + "</li>");
            $("#movie").typeahead("val", "");
            vm.movieIds.push(movie.id);
        });
        $.validator.addMethod("validCustomer", function () {
            return vm.customerId && vm.customerId !== 0;
        }, "Customer not found");
        $.validator.addMethod("validMovies", function ()
        {
            return vm.movieIds.length>=1;
        },"enter at least one movie")
       var validator =  $("#rentalForm").validate({

            submitHandler: function (e) {
           
            $.ajax(
                {
                    url: "/api/rental",
                    method: "post",
                    data: vm


                }).done(function () {
                    toastr.success("Rentals successfuly added");
                    $("#customer").typeahead("val", "");
                    $("#movie").typeahead("val", "");
                    $("#movies").empty();
                    vm = { movieIds: [] };
                    validator.resetForm();

                }).fail(function () {
                    toastr.error("Something unexpected happen");

                });
                return false;

            }
        });
    </script>
}