﻿@model Vidly.Models.Movie
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Model.Name</h2>

<div class="container">
    <ul>
        <li>Genre:@Model.Genre.Name</li>
        <li>Released Time: @Model.ReleasedTime.ToShortDateString()</li>
        <li>Added Time: @Model.AddedTime.ToShortDateString()</li>
        <li>Number in the stock: @Model.Id</li>


    </ul>

</div>