﻿@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Movies</h2>
@Html.ActionLink("NEW","New","Movies",null,new { @class="btn btn-primary"})
<table id="movies" class="table table-bordered table-hover">
    <thead>
        <tr>
            <th scope="col">Movie</th>
            <th scope="col">Genre</th>
            <th scope="col">Delete</th>
        </tr>
    </thead>

</table>
@section scripts
{
    <script>
        $(document).ready(function () {
            var table = $("#movies").DataTable({
                ajax: {
                    url: "/api/movies/",
                    dataSrc:""
                },
                columns: [
                    {
                        data: "name",
                        render: function (data,type,movie)
                        {
                            return "<a href='/movies/edit/" + movie.id + "'>" + data + "</a>";
                        }
                    },
                    {
                        data: "genre.name",
                        
                    },
                    {
                        data: "id",
                        render: function (data) {
                            return "<button class='btn-link js-delete' data-movie-id='"+data+"'>Delete</button>"
                        }
                    }
                ]
            });
            $("#movies").on("click", ".js-delete", function () {
            var button = $(this);
            bootbox.confirm("Are you sure to delete this movie", function (confirmed) {
                $.ajax( {
                    url: "/api/movies/" + button.attr("data-movie-id"),
                    method: "DELETE",
                    success: function () {
                        table.row(button.parents("tr")).remove().draw();
                    }
                })
            });
        });
        });
        
    </script>
}