﻿@model Vidly.ViewModels.MovieFormViewModel
@{
    
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Model.Title</h2>
@using (Html.BeginForm("Save", "Movies"))
{
    <div class="form-group">
        @Html.LabelFor(m => m.Name)
        @Html.TextBoxFor(m => m.Name, new { @class = "form-control" })
        @Html.ValidationMessageFor(m=>m.Name)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.ReleasedTime)
        @Html.TextBoxFor(m => m.ReleasedTime,"{0:d MMM yyyy}",new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.ReleasedTime)

    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.GenreId)
        @Html.DropDownListFor(m => m.GenreId, new SelectList(Model.Genres, "Id", "Name"), "Select Genre ", new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.GenreId)

    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.NumberInStock)
        @Html.TextBoxFor(m => m.NumberInStock, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.NumberInStock)

    </div>
    @Html.HiddenFor(m=>m.Id)
    @Html.AntiForgeryToken();
    <button class="btn btn-primary">Save</button>
}


@section Scripts
{
    @Scripts.Render("~/bundles/jqueryval")    
    
}