﻿@model Vidly.ViewModels.RandomViewModel
@{
    ViewBag.Title = "Random";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{ 
    var className = Model.Customers.Count>5?"popular":null;
}
<h2 class="@className">@Model.Movie.Name</h2>
@{ 
    if (Model.Customers.Count == 0)
    {
        <text>This movie hasn't rented before</text>
    }
    else 
    {
    <ul>
        @foreach (var customer in Model.Customers)
        {
            <li>@customer.Name</li>
        }
    </ul>
    }
}