﻿@model Vidly.Models.Customer
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>@Model.Name</h2>
<ul>
    <li>@Model.MemberShipType.Name</li>
    @if (Model.BirthDate.HasValue)
    {
        
        <li>@Model.BirthDate.Value.ToShortDateString()</li>
    }
</ul>