﻿
@{
    ViewBag.Title = "Customers";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Customers</h2>
<table id="customers" class="table table-bordered table-hover">
    <thead>
        <tr>
            <th scope="col">Customer</th>
            <th scope="col">Membership type Name</th>
            <th scope="col">Delete</th>
        </tr>
    </thead>

</table>
@section scripts
{
    <script>
        $(document).ready(function () {
           var table=  $("#customers").DataTable({
                ajax: {

                    url: "/api/customers/",
                    dataSrc: "",
                },
                columns:
                [
                    {
                        data: "name",
                        render: function (data, type, customer) {
                            return "<a href='/customers/edit/" + customer.id + "'>" + customer.name + "</a>";
                        }
                    },
                    {
                        data: "memberShipType.name",
                    },
                    {
                        data: "id",
                        render: function (data) {
                            return "<button class='btn-link js-delete' data-customer-id='"+data+"'>Delete</button>"
                        }
                    }
                ]
            });
            $("#customers").on("click", ".js-delete", function () {
                var button = $(this);
                bootbox.confirm("Are you sure to delete this customer ?", function (result) {
                    if (result) {
                        $.ajax(
                            {
                                url: "/api/customers/" + button.attr("data-customer-id"),
                                method: "DELETE",
                                success: function () {
                                    table.row(button.parents("tr")).remove().draw();
                                }
                            });
                    }
                });
            });
        });
    </script>
}
