﻿

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}
div{
    margin-bottom:5px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
.field-validation-error,
label.error
{
    color:red;
}
.input-validation-error,
input.error
{
    border:1px solid red;
}
.validation-summary-errors
{
    color:red;
}
.btn-link
{
    border:none;
    background:none;
}
